@use 'sass:color';
@use '../index' as *;

.result-panel {
  padding: rem(23px) rem(61px) rem(39px);
  border-radius: 0 0 rem(30px) rem(30px);
  background: linear-gradient($light-slate-blue-bg, $light-royal-blue-bg);
  color: $white;
  text-align: center;

  @include desktop {
    padding: rem(38px) rem(61px) rem(39px);
    border-radius: rem(30px);
  }
}

.heading-1 {
  margin-bottom: rem(24px);
  font-size: rem(18px);
  color: color.adjust($white, $alpha: -0.3);

  @include desktop {
    margin-bottom: rem(34px);
    font-size: rem(24px);
  }
}

.heading-2 {
  margin-top: rem(23px);
  margin-bottom: rem(8px);
  font-size: rem(24px);

  @include desktop {
    margin-bottom: rem(15px);
    font-size: rem(32px);
  }
}

.result-panel__text {
  font-size: rem(16px);
  color: color.adjust($white, $alpha: -0.3);

  @include desktop {
    font-size: rem(18px);
  }
}
