@use '../index' as *;

.summary-panel {
  padding: rem(24px) rem(30px) rem(30px);

  & > div:not(:last-of-type) {
    margin-bottom: rem(17px);
  }

  & > div:last-of-type {
    margin-bottom: rem(25px);
  }
}

.summary-heading {
  padding-bottom: rem(25px);
  font-size: rem(18px);
}
