@use 'sass:color';
@use '../index' as *;

@mixin colored-item($color) {
  background-color: color.adjust($color, $alpha: -0.9);
  & > .summary-item__type {
    color: $color;
  }
}

.red {
  @include colored-item($light-red);
}
.yellow {
  @include colored-item($orangey-yellow);
}
.teal {
  @include colored-item($green-teal);
}
.blue {
  @include colored-item($cobalt-blue);
}

.summary-item {
  display: flex;
  padding: rem(16px);
  border-radius: rem(15px);
  font-size: rem(16px);
  font-weight: 700;

  @include desktop {
    font-size: rem(18px);
  }

  & > :last-child {
    margin-left: auto;
  }
}

.summary-item__icon {
  width: rem(20px);
  height: rem(20px);
}

.summary-item__type {
  padding-left: rem(10px);
  padding-right: rem(10px);
}

.summary-item__score {
  color: $dark-gray-blue;
}
.summary-item__total-score {
  color: color.adjust($dark-gray-blue, $alpha: -0.5);
}
